
.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f749e;
    width: 100vw;
    height: 100vh;

}
.login-page > .box{
    height: 300px;
    width: 400px;
    padding: 50px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 42, 126);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box button{
    border-radius: 5px;
}
.input-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 10px;
    
}
.input-item input{
    border-radius: 5px;
}